body, html {
  background-color: #E0E0E0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#time {
  display: none;
}

.spinner {
  display: none;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #EEEEEE;
    color: #424242;
    padding: 4px;
    margin-bottom: 5px;
    min-width: 30em;
}

/* On mouse-over, add a deeper shadow */
/*
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #E0E0E0;
}*/

/* Add some padding inside the card container */
.card-container {
    padding: 5px 16px;
    font-size: 125%;
}

img {
    vertical-align: middle;
    margin-right:15px;
    margin-bottom: 5px;
}

.entry {
  padding: 5px;
}

.c1 {
  display:inline-block;
  width: 60%;
}

.c2 {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  width: 40%;
}

.s1 {
  display: inline-block;
  width: 75%;
}

.s2 {
  display: inline-block;
  text-align: right;
  width: 15%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*
