body, html {
  background-color: #E0E0E0;
}

body, h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1   {
  font-size: 500%;
  text-align: center;
  color: #424242;
}

h2   {
  font-size: 200%;
  text-align: center;
  color: #424242;
  font-weight: 100;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #EEEEEE;
    color: #424242;
    margin-left: 30%;
    margin-right: 30%;
    padding: 4px;
    margin-bottom: 10px;
    min-width: 30em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #E0E0E0;
}

/* Add some padding inside the card container */
.card-container {
    padding: 10px 16px;
}

.spinner {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 40px;
  bottom: 40px;
  background-color: #9E9E9E;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

#test {
  width: 33.33%;
}

/*
div {
    -webkit-columns: 500px 2;
    -moz-columns: 500px 2;
    columns: 500px 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}
*/
