body, html {
  width: 310px;
  height: 100%;
  background-color: #282828;
  font-family: "Roboto", "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
  -webkit-animation: fadein .75s;
  text-align: center;
}

html {
  overflow-y: scroll;
}

h2   {
  display: inline-block;
  position: relative;
  top: 1px;
  font-size: 150%;
  text-align: center;
  color: #d0d0d0;
  font-weight: 400;
  margin-top: 15px;
}

h3   {
  font-family: "Product Sans", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 125%;
  text-align: center;
  color: #919191;
  font-weight: 100;
  margin-top: 50%;
  margin-right: 10px;
}

#time {
  display: none;
}

.spinner {
  display: none;
}

.card {
  box-shadow: 0 3px 10px 0 #141414;
  transition: 0.3s;
  background-color: #383838;
  color: #d0d0d0;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 15px;
  min-width: 24em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-animation: fadein .75s;
}

.text {
  text-align: center;
  transition: 0.3s;
  color: #424242;
  padding: 5px;
  margin-left: 8px;
  margin-bottom: 5px;
  margin-right: 7px;
  min-width: 24em;
  -webkit-animation: fadein .75s;
}

.card-container {
  display: flex;
  height: 55px;
  padding: 5px 0px;
  font-size: 105%;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

img {
    vertical-align: middle;
    margin-right:12px;
    margin-bottom: 5px;
}

.entry {
  padding: 5px;
}

.c1 {
  display:inline-block;
  width: 65%;
  padding-right: 3px;
}

.c2 {
  display: inline-block;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 35%;
}

.s1 {
  display: inline-block;
  text-align: left;
  width: 75%;
}

.s2 {
  display: inline-block;
  text-align: right;
  width: 15%;
}

.divider {
   border-left:1px solid #000000;
   width:2.5%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#date {
  font-family: "Product Sans", "Roboto", Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block;
  font-size: 125%;
  text-align: center;
  color: #898989;
  margin-bottom: 15px;
  font-weight: 400;
  width:175px;
  max-width:175px;
  right: 7px;
  margin-top: 10px;
}

.fa {
  color: #777777;
  vertical-align: middle;
  margin-right: 19px;
  margin-left: 5px;
  margin-bottom: 5px;
  transition: color .5s;
  cursor: pointer;
}

.fa:hover {
  color: #454545;
}

/*
