body, html {
  background-color: #E0E0E0;
}

body, h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1   {
  font-size: 500%;
  text-align: center;
  color: #424242;
}

h2   {
  font-size: 200%;
  text-align: center;
  color: #424242;
  font-weight: 100;
}

footer {
  margin-top: 50px;
  text-align: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #EEEEEE;
    color: #424242;
    margin-left: 35%;
    margin-right: 35%;
    padding: 4px;
    margin-bottom: 5px;
    min-width: 30em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #E0E0E0;
}

/* Add some padding inside the card container */
.card-container {
    padding: 15px 16px;
    font-size: 125%;
    font-weight: 400;
    transition: color 2s ease 0s;
}

.spinner {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 40px;
  bottom: 40px;
  background-color: #BDBDBD;
  -webkit-animation: sk-rotateplane 1s infinite ease-in-out;
  animation: sk-rotateplane 1s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

img {
    vertical-align: middle;
    margin-right:15px;
    margin-bottom: 5px;
}

.c1 {
  display:inline-block;
  width: 60%;
}

.c2 {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  width: 40%;
}

.s1 {
  display: inline-block;
  width: 75%;
}

.s2 {
  display: inline-block;
  text-align: right;
  width: 15%;
}
/*
.spinner {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 40px;
  bottom: 40px;
  background-color: #9E9E9E;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
*/
/*
div {
    -webkit-columns: 500px 2;
    -moz-columns: 500px 2;
    columns: 500px 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}
*/
